.navMenu > nav > ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navMenu > nav > ul > li > button{
    border: 1px solid transparent;
    transition: border 1s;
    font-size: 15px;
}

.navMenu > nav > ul > li > button:hover{
    border: 1px solid rgba(128, 128, 128, 0.605);
}

.searchBox > form > input{
    width: 390px;
    border: 1px solid black;
    position: relative;

}

.searchIcon{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
}

.searchForm{
    position: relative;
}

.companyHeading > a > h1{
    font-family: 'Noto Serif Toto', serif;
    font-weight: bold;
}

.heroImageContainer .heroImageText h2{
    font-size: 50px;
    font-family: 'Noto Serif Toto', serif;

}

.heroImageContainer .heroImageText button{
    border: 1px solid;
    position: relative;
    transition: 0.5s;
}

.heroImageContainer .heroImageText button::after{
    content: ">";
    position: absolute;
    top: 8px;
    right: 31px;
    display: inline-block;
     
}
 
.heroImageContainer{
    background: url("../images/heroimage.jpg") no-repeat ;
    background-position: center;
    background-size: cover;
    padding: 117px 0px;
    margin-top: 107px;
}

.heroImageContainer .heroImageText button:hover{
    background-color: black !important;
    color: white;
}

.infoContainer{
    margin-top: 80px;
}

.infoContainer > .infoBox{
    width: 280px;
    animation-name: fadeup;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function:ease;

}

.infoContainer > .infoBox:nth-child(1){
    animation-delay: 0.5s;
}

.infoContainer > .infoBox:nth-child(2){
    animation-delay: 0.7s;
}

.infoContainer > .infoBox:nth-child(3){
    animation-delay: 0.9s;
}

.infoContainer > .infoBox > p{
    font-size: 14px;
}

/* Animation */

@keyframes fadeup {
   0%{
        transform: translateY(0px);
    }
  
    50%{
        transform: translateY(-45px);
    }

    100%{
        transform: translateY(0px);
    }

}

.imageContainer{
    width: 400px;
    height: 550px;
    overflow: hidden;
    position: relative;
}

.imageContainer img{
    transition: transform 0.5s;
}

.imageContainer:hover img{
    transform: scale(1.1);
}

.imageContainer img{
    width: 100%;
    height: 100%;
}

.featuredDishes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featuredDishes > *{
    align-self: center;
}

.featuredRecipesContainer{
    margin-top: 150px;
}

header{
    z-index: 1;
}

.featuredRecipesHeading{
    font-size: 45px;
    font-family: 'Noto Serif Toto', serif;
    font-weight: 900;
}

.featuredHeading{
    font-size: 12px;
    color: #ac736b;
}

.newDish::after{
    content: "NEW";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.844);
    width: 90px;
    height: 35px;
    color: white;
    background-image: url(../images/flash.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 14px 9px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    padding-left: 15px;
    font-weight: normal;
}

.featureRecipesButton > button{
    border: 1px solid;
    position: relative;
    transition: 0.5s;
}

.featureRecipesButton > button::after{
    content: ">";
    position: absolute;
    top: 8px;
    right: 31px;
    display: inline-block;
     
}
 
.featureRecipesButton button:hover{
    background-color: black !important;
    color: white;
}

.pickOfTheWeekText > h6{
    font-size: 12px;
}

.pickOfTheWeekText{
    background-color: #a76e63;
    padding: 80px;
}

.pickOfTheWeekText > button{
    width: 190px;
    border: 1px solid #ac736b;
    position: relative;
    transition: 0.3s;
    color: white;
    border-radius: 1px;
}

 
.pickOfTheWeekText > button::after{
    content: ">";
    position: absolute;
    top: 8px;
    right: 31px;
    display: inline-block;
     
}
 
.pickOfTheWeekText > button:hover{
    background-color: white !important;
    color: black;
}

.pickOfTheWeekContainer{
    margin-top: 100px;
}

.pickOfTheWeekText > h2{
    font-size: 45px;
    font-family: 'Noto Serif Toto', serif;
    font-weight: bold;
}

.pickOfTheWeekContainer > div{
    flex-basis: 720px;
}


.breakfastImage{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.dessertImage{
    width: 250px;
    height: 250px; 
    overflow: hidden;
}

.drinksImage{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.mainCourseImage{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.snacksImage{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.breakfastImage img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.dessertImage img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.drinksImage img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.mainCourseImage img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.snacksImage img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.breakfastImage img:hover{
    transform: scale(1.1);
}

.dessertImage img:hover{
    transform: scale(1.1);
}

.drinksImage img:hover{
    transform: scale(1.1);
}

.mainCourseImage img:hover{
    transform: scale(1.1);
}

.snacksImage img:hover{
    transform: scale(1.1);
}

.popularCategoriesContainer{
    margin-top: 200px;
    margin-bottom: 150px;
}

.popularCategoriesContainer > h2{
    font-size: 40px;
    font-family: 'Noto Serif Toto', serif;
    font-weight: bold;
}

.popularCategoriesButton > button{
    border: 1px solid;
    position: relative;
    transition: 0.5s;
}

.popularCategoriesButton > button::after{
    content: ">";
    position: absolute;
    top: 8px;
    right: 31px;
    display: inline-block;
     
}
 
.popularCategoriesButton > button:hover{
    background-color: black !important;
    color: white;
}

.faq{
    background-color: #f2ebe5;
    
}

.faq > p > span > a{
    color: #a76e63;
}

.cookbookImage{
    width: 160px;
    height: 160px;
}

.cookbookImage > img{
    width: 100%;
    height: 100%;
}

.aboutImage{
    width: 160px;
    height: 160px;
}

.aboutImage > img{
    width: 100%;
    height: 100%;
}

.recipesFaqImage{
    width: 160px;
    height: 160px;
}

.recipesFaqImage > img{
    width: 100%;
    height: 100%;
}

.forPartnersImage{
    width: 160px;
    height: 160px;
}

.forPartnersImage > img{
    width: 100%;
    height: 100%;
}

/* .cookbook,.about,.recipesFaq,.forPartners{
    width: 550px;
} */

.cookbookText,.aboutText,.recipesFaqText,.forPartnersText{
    width: 370px;
}

.fs-7{
    font-size: 12px;
}

.color-tertiary{
    color: #a76e63
}

.font-tertiary{
    font-size: 40px;
}

.font-family-tertiary{
    font-family: 'Noto Serif Toto', serif;
}

.authorResourcesContainer{
    margin-top: 150px;
}

.aurthorResources > .about{
    position: relative;
}

.aurthorResources > .cookbook{
    position: relative;
}

.aurthorResources > .about::after{
    content: "";
    position: absolute;
    bottom: -80px;
    background-color: black;
    height: 1px;
    width: 100%;

}

.aurthorResources > .cookbook::after{
    content: "";
    position: absolute;
    bottom: -80px;
    background-color: black;
    height: 1px;
    width: 130%;

}

.recipesFaq,.forPartners{
    margin-top: 120px;
    
}

